
.generatorcontainer {
    background: white;
    height: 400px;
    width: 760px;
    margin: 20px 0 20px 0;
    }
  
    .borders{
      border-top: solid 3px darkgray;
      border-bottom: solid 3px darkgray;
      margin: 15px 0 15px 0;
    }
  
  h1 {
    margin: 30px 0;
  }
  body {
    background-color: lightgray;
  }
  
  #passwordTextArea {
    border: dashed 2px #a9a9a9;
    height: 150px;
    margin: 20px 0 0 0;
    font-size: 25px;
    background: white;
  }