.fill{

        min-height: 100%;
        height: 100%;
        margin:auto;
        
        

}
html, body {
    height: 100%;
    
  }
  .jumbotron{
      margin-left:100px;
      margin-right:100px;
      width:100%;
      background:white;
  }
  .dotted{
    border: 2px dotted grey;
    margin-left:35px;
    width:90%;
    margin-right:35px;
    height:200px;
  }
  .generator 
  
  {
     margin-left:35px;
  }
  #holder{
    
    margin-right:200px;
    width:100%;
    
  }
  .inputcontainer
  {
      margin-top:40px;
   
  }
  .generatortitle
  {
      border-bottom: solid grey 3px;
      margin-left:35px;
      margin-right:50px;
  }
  #buttonrow{
margin-left: 35px;
  }
